<%- include('common/header') %>
<title><%= title %></title>
<link rel="stylesheet" href="stylesheets/admin.css">
</head>

<body>
<div class="register-page" id="register">
Hello admin secret!
</div>

<%- include('common/footer') %>

