<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>

    <meta charset="utf-8">
    <title>Customs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/customs.css">

</head>

<%- include('header') %>

<body>

<!--start of login page-->
<div class="customs-page" id="customs">
    <h1>Helow der peoplez!</h1>
</div>

</body>
</html>