<!DOCTYPE html>
<title>Customs</title>
<link rel="stylesheet" href="stylesheets/customs.css">

</head>

<%- include('common/header') %>

<body>

<!--start of login page-->
<div class="customs-page" id="customs">
    <h1>Hello World!</h1>
</div>

<%- include('common/footer') %>
