<%- include('common/header') %>

<title><%= title %></title>
<script src="https://d3js.org/d3.v6.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js"></script>
<script>
    let graphType;
    let custChart1;
    let $ = require('jquery');
    window.$ = $;
    require('bootstrap');
</script>
<link rel="stylesheet" href="stylesheets/customs.css">
<script src="javascript/customs-script.js" defer></script>

</head>

<body>
<!--start of login page-->
<div class="customs-page" id="customs">

    <label for="graphs">Choose a graph type:</label>
    <select name="graphs" id="graphs">
        <option id="bar" value="bar">bar</option>
        <option value="line">line</option>
        <option value="pie">pie</option>
        <option value="scatter">scatter</option>
        <option value="radar">radar</option>
    </select>

    <div class="inputContainer">
        <div class="TitleInput">
            <label class="form-label" for="form12">Graph Title</label>
            <input type="text" id="form12" class="form-control"/>
        </div>

        <div class="FieldInput">
            <label class="form-label" for="form12">Field Labels</label>
            <input type="text" id="form12" class="form-control"/>
        </div>
    </div>

    <button type="button" class="btn btn-secondary" onclick="generate()">Generate</button>

    <div class="custGraph1">
        <canvas id="chart" width="200" height="200"></canvas>
    </div>
</div>

<script>
    function generate()
    {
        window.alert("graph will generate");

        graphType = document.getElementById("customs").value;
        custChart1.update();
    }

    const ctx = document.getElementById('chart').getContext('2d');
    custChart1 = new Chart(ctx, {
        type: graphType,
        data: {
            labels: ['2010', '2011', '2012', '2013', '2014'],
            datasets: [{
                label: 'Users Choice',
                data: [100, 234, 200, 400, 70],
                backgroundColor: [
                    'rgba(255, 99, 50, 0.7)',
                    'rgba(25, 10, 255, 0.7)',
                    'rgba(10, 200, 50, 0.7)',
                    'rgba(100, 100, 100, 0.7)',
                    'rgba(150, 0, 150, 0.7)',
                ],
                borderColor: [
                    'rgb(0,0,0)'

                ],
                borderWidth: 1.5
            }]
        }
    });

</script>
<%- include('common/footer') %>