<%- include('common/header') %>

<title><%= title %></title>
<script src="https://d3js.org/d3.v6.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js"></script>
<link rel="stylesheet" href="stylesheets/customs.css">

<script>
    let graphType = "pie";
    let g;
    let custChart1;
    let labels=[];
    let l, l2, l3;
    let data=[]
    let d, d2, d3;

</script>
</head>

<body>
<!--form for user entry, implement post!-->
<form id="myForm">
    <div class="customs-page" id="customs">

        <label>Choose a graph type:</label>
        <select name="graphType" id="graphType">
            <option id="bar" value="bar">bar</option>
            <option value="line">line</option>
            <option value="pie">pie</option>
            <option value="scatter">scatter</option>
            <option value="radar">radar</option>
        </select>

        <div class="inputContainer">
            <div class="lable1Input">
                <label class="form-label" for="form12">Label1</label>
                <input type="text" id="label1" class="form-control" name="label1" value = "label1"/>
            </div>
            <div class="lable2Input">
                <label class="form-label" for="form12">Label2</label>
                <input type="text" id="label2" class="form-control" name="label2" value = "label2"/>
            </div>
            <div class="lable3Input">
                <label class="form-label" for="form12">Label3</label>
                <input type="text" id="label3" class="form-control" name="label3" value = "label3"/>
            </div>

        </div>
        <div class="inputContainer">
            <div class="dataInput1">
                <label class="form-label" for="form12">Data 1</label>
                <input type="text" id="data1" class="form-control"/>
            </div>

            <div class="dataInput2">
                <label class="form-label" for="form12">Data 2</label>
                <input type="text" id="data2" class="form-control"/>
            </div>

            <div class="dataInput2">
                <label class="form-label" for="form12">Data 3</label>
                <input type="text" id="data3" class="form-control"/>
            </div>
        </div>

        <button type="button" class="btn btn-secondary" onclick="generate()" value="submit">Generate</button>

        <div class="custGraph1">
            <canvas id="chart" width="200" height="200"></canvas>
        </div>
    </div>
</form>

<script>
    const ctx = document.getElementById('chart').getContext('2d');
    custChart1 = new Chart(ctx, {
        type: graphType,
        data: {
            labels: labels,
            datasets: [{
                label: ["","",""],
                data: data,
                backgroundColor: [
                    'rgba(255, 99, 50, 0.7)',
                    'rgba(25, 10, 255, 0.7)',
                    'rgba(10, 200, 50, 0.7)',
                    'rgba(100, 100, 100, 0.7)',
                    'rgba(150, 0, 150, 0.7)',
                ],
                borderColor: [
                    'rgb(0,0,0)'

                ],
                borderWidth: 1.5,
                options: {
                    maintainAspectRatio: false,
                }
            }]
        }
    });

    function generate()
    {

        <!-- Use post method to store the user entry into the variables and then update the graph with the new variables -->

        /* remove all previous inputs from the arrays */
        labels.pop();
        labels.pop();
        labels.pop();
        data.pop();
        data.pop();
        data.pop();

        graphType=(document.getElementById("graphType").value);

        l = document.getElementById("label1").value;
        labels.push(l);
        l2 = document.getElementById("label2").value;
        labels.push(l2);
        l3 = document.getElementById("label3").value;
        labels.push(l3);

        d = document.getElementById("data1").value;
        data.push(d);
        d2 = document.getElementById("data2").value;
        data.push(d2);
        d3 = document.getElementById("data3").value;
        data.push(d3);

        console.log(labels);
        console.log(data);
        console.log(graphType);
        window.alert("graph will generate");


        custChart1.update();
    }

</script>
<%- include('common/footer') %>