<%- include('common/header') %>
<title><%= title %></title>
<script src="https://d3js.org/d3.v6.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js"></script>
<link rel="stylesheet" type="text/css" href="stylesheets/index.css">
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
<script src="javascript/mapPage.js" defer></script>


<!--Map Page-->
<!--as part of the Major Group Project.-->
<body>

<% if (!username) { %>
    <div class="px-4 py-5 my-5 text-center">
        <div class="col-lg-6 mx-auto">
            <div class="p-3 mb-2 bg-dark text-white"><p class="lead">Please log in to Access this page</p></div>

            <a class="btn btn-dark mr-1" href="/login" role="button">Login</a>
            <a class="btn btn-dark" href="/register" role="button">Register</a>
        </div>
    </div>

<% } else if(username) { %>

<div class="px-4 py-5 my-5 text-center" id = "superContainer">
    <div class="col-lg-6 mx-auto">
      <label id = 'dataLabel'>Please Select One Data Type</label>
        <div class="d-grid mr-1 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-primary mr-1" onclick=selector("covid")>Covid</button><BR>
            <button type="button" class="btn btn-primary mr-1" onclick=selector("weather")>Weather</button>
            <button type="button" class="btn btn-primary mr-1" onclick=selector("gdp")>GDP</button>
            <button type="button" class="btn btn-primary mr-1" onclick=selector("happiness")>Happiness</button>
            <button type="button" class="btn btn-primary mr-1" onclick=selector("corruption")>Corruption</button>
            <button type="button" class="btn btn-primary mr-1" onclick=selector("health")>Health</button>
        </div><br>
        <div>
            <div><label id = 'dataLabel'>Please Select a chart type</label></div>
            <select name="graphType" id="graphType" onclick=changeGraphType(document.getElementById("graphType").value)>
                <option id="bar" value="bar">Bar Chart</option>
                <option value="line">Line Graph</option>
                <option value="pie">Pie Chart</option>
                <option value="radar">Radar Chart</option>
                <option value="doughnut">Donut Chart</option>
                <option value="polarArea">Polar Area Chart</option>
            </select>
        </div>
    </div>
    <br><br>
    <div><label id = 'dataLabel'>Please Only Select up to 3 countries if using Weather or Covid.</label></div>
    <svg id="europeMap" class="europe-map" width="800" height="300"></svg>

    <div>

        <button type="button" class="btn btn-danger" id = "rstbtn" onclick=reloadPage()>Reset!</button>

    </div>


    <div class='apicontainer'>
        <div class="graph1">
            <canvas id="chart1" width="200" height="200"></canvas>
        </div>
    </div>
    </div>

<% } %>
</body>
<%- include('common/footer') %>

