<!doctype html>
<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
</head>
<body>
<div class="container">
    <div class="graph1">
        <canvas id="chart1" width="200" height="200"></canvas>
    </div>
</div>
<p>
    Graph Page
</p>
<p>
    <button onclick="getWeather('Ireland')"> Ireland Max Temp</button>
</p>
</body>
</html>

<script>

    const graphdata = [];
    const labeldata = [];


    chartIT();


    async function chartIT() {
        const ctx = document.getElementById('chart1').getContext('2d')
        await getWeather('Ireland');
        const myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: labeldata,
                datasets: [{
                    label: "Max Temp",
                    data: graphdata,
                    backgroundColor: ['rgba(255, 99, 132, 0.2)',],
                    borderColor: ['rgba(255, 99, 132, 1)',],
                    borderWidth: 1
                }]
            },
        });
    }

    async function getWeather(countryName) {
        <!-- This is an Example Graph using Graph.Js Library-->

        // Make request to coronavirus api
        // WeatherAPI https://www.weatherapi.com/api-explorer.aspx
        const response = await fetch(
            "http://api.weatherapi.com/v1/forecast.json?key=687f508b47e247bdbd1113110221402&q=&q=" + countryName + "&days=30&aqi=no&alerts=no");

        // Data variable will store all data received from api call.
        const apidata = await response.json();
        console.log(apidata);

        for (let i = 0; i < apidata.forecast.forecastday.length; i++) {
            let maxtemp = apidata.forecast.forecastday[i].day.maxtemp_c;
            let day = apidata.forecast.forecastday[i].date;
            graphdata.push(maxtemp);
            labeldata.push(day);
            console.log("getWeather func -> Temp = " + graphdata[i]);
        }
    }

</script>
