<%- include('common/header') %>

<title><%= title %></title>
<script src="https://d3js.org/d3.v6.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js"></script>
<link rel="stylesheet" href="stylesheets/customs.css">

<script>
    let graphType = "pie";
    let custChart1;
    let label1 = "";
    let label2 = "";
    let label3 = "";
    let labeldata1 = 5;
    let labeldata2 = 10;
    let labeldata3 = 15;


    let $ = require('jquery');
    window.$ = $;
    require('bootstrap');
</script>
</head>

<body>
<!--start of login page-->
<form id="myForm">
    <div class="customs-page" id="customs">


        <label for="graphs">Choose a graph type:</label>
        <select name="graphs" id="graphs">
            <option id="bar" value="bar">bar</option>
            <option value="line">line</option>
            <option value="pie">pie</option>
            <option value="scatter">scatter</option>
            <option value="radar">radar</option>
        </select>

        <div class="inputContainer">
            <div class="lable1Input">
                <label class="form-label" for="form12">Label1</label>
                <input type="text" id="form12" class="form-control" name="label1"/>
            </div>
            <div class="lable2Input">
                <label class="form-label" for="form12">Label2</label>
                <input type="text" id="form12" class="form-control" name="label2"/>
            </div>
            <div class="lable3Input">
                <label class="form-label" for="form12">Label3</label>
                <input type="text" id="form12" class="form-control" name="label3"/>
            </div>

        </div>
        <div class="inputContainer">
            <div class="dataInput1">
                <label class="form-label" for="form12">Data 1</label>
                <input type="text" id="form12" class="form-control"/>
            </div>

            <div class="dataInput2">
                <label class="form-label" for="form12">Data 2</label>
                <input type="text" id="form12" class="form-control"/>
            </div>

            <div class="dataInput2">
                <label class="form-label" for="form12">Data 3</label>
                <input type="text" id="form12" class="form-control"/>
            </div>

        </div>

        <button type="button" class="btn btn-secondary" onclick="generate()" value="submitForm">Generate</button>



        <div class="custGraph1">
            <canvas id="chart" width="200" height="200"></canvas>
        </div>
    </div>
</form>

<script>
    function generate()
    {
        window.alert("graph will generate");

        document.getElementById("myForm").submit();

        custChart1.update();

        console.log(label1);
    }

    const ctx = document.getElementById('chart').getContext('2d');

    custChart1 = new Chart(ctx, {
        type: graphType,
        data: {
            labels: [label1, label2, label3],
            datasets: [{
                label: ["","",""],
                data: [labeldata1,labeldata2,labeldata3],
                backgroundColor: [
                    'rgba(255, 99, 50, 0.7)',
                    'rgba(25, 10, 255, 0.7)',
                    'rgba(10, 200, 50, 0.7)',
                    'rgba(100, 100, 100, 0.7)',
                    'rgba(150, 0, 150, 0.7)',
                ],
                borderColor: [
                    'rgb(0,0,0)'

                ],
                borderWidth: 1.5
            }]
        }
    });

</script>
<%- include('common/footer') %>