<%- include('common/header') %>
<title><%= title %></title>
<script src="https://d3js.org/d3.v6.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js"></script>
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="stylesheets/graph.css">
<script src="javascript/mapPage.js" defer></script>

<!--Map Page-->
<!--as part of the Major Group Project.-->
<body>
<div class="home-page" id="main">
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="images/TripClick.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="300"
                     height="150" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">TripClick™</h1><br>
                <p class="lead">Welcome to TripClick.live!<br>
                    We help to show you live data visualised.</p>
                <% if (!username) { %>

                    <p class="lead">
                        Please Log in or register for free to use the extended map features<br>
                    </p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <a class="btn btn-dark mr-1" href="/login" role="button">Login</a>
                        <a class="btn btn-dark" href="/register" role="button">Register</a>
                    </div>

            </div>
            <b>Trial Version below.</b>
            <% } else if(username) { %>
                <a class="btn btn-dark" href="/graph" role="button">Graph Tool</a>
            <% } %>
        </div>
    </div>
</div>

<div class="px-4 py-5 my-5 text-center">
    <svg id="europeMap" class="europe-map" width="800" height="300"></svg>
    <div class="col-lg-6 mx-auto">
        <button type="button" class="btn btn-primary mr-4" onclick=selector("weather")>Weather</button>
        <p id="dataForSelection"></p>
    </div>
    <div class='apicontainer'>
        <div class="graph1">
            <canvas id="chart1" width="200" height="180"></canvas>
        </div>
    </div>
</div>
<%- include('common/footer') %>
