<!DOCTYPE html>
<title>Home Title</title>
<script src="https://d3js.org/d3.v6.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js"></script>
<link rel="stylesheet" type="text/css" href="stylesheets/index.css">
</head>

<%- include('common/header') %>

<body>
<!--start of home page-->
<div class="home-page" id="home">
    <div class = "mapcontainer">
        <div class="euro">
            <svg id="europeMap" class="europe-map" width="800" height="500"></svg>
        </div>

        <div class = "infobox">
            <p id="countryclicked">Country clicked displays here.</p>
        </div>
    </div>
    <!-- This is an Example Graph -->
    <div class="container">

        <div class="graph1">
            <canvas id="chart" width="200" height="200"></canvas>
            <script>

                const ctx = document.getElementById('chart').getContext('2d');
                const myChart1 = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                        datasets: [{
                            label: 'Coronavirus Numbers',
                            data: [100, 234, 432, 456, 754, 400, 370, 300, 450, 320, 100],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)'
                            ],
                            borderWidth: 1
                        }]
                    }
                });
            </script>
        </div>

        <div class="graph2">

        </div>
    </div>

    <! ---
    This is a D3.Js Map Created By Graham,Eduard and James
    as part of the Major Group Project.

    This Script Will be moved to a Script.Js File after testing.
    --->

    <script>
        const svg = d3.select("svg"),
            width = +svg.attr("width")

        // Map and projection
        const projection = d3.geoNaturalEarth1()
            .scale(width / 1.5) // Lower the num closer the zoom
            .translate([200, 700])  // (Horizontal, Vertical)

        // Load external data and boot
        d3.json("https://raw.githubusercontent.com/holtzy/D3-graph-gallery/master/DATA/world.geojson").then(function (data) {
            svg.append("g")
                .selectAll("path")
                .data(data.features)
                .join("path")
                .attr("fill", "#348C31") // Color Of Country
                .attr("d", d3.geoPath().projection(projection))
                .on("click", (_, d) => clickHandler(d)) // Click Handling <- We Will try to Use this to display country info.
                .on("mouseover", handleMouseOver)
                .on("mouseout", handleMouseOut)
                .style("stroke", "white")// Border Lines
        })

        function handleMouseOver(d, i) {
            console.log("Mouse Is On " + i.properties.name)
        }

        function handleMouseOut() {
            console.log("Leaving Country")
        }

        // Function to Handle Button Click
        function clickHandler(d, i) {
            document.getElementById("countryclicked").innerHTML = d.properties.name;
        }
    </script>

</div>

<%- include('common/footer') %>
