<%- include('common/header') %>
<title><%= title %></title>
<link rel="stylesheet" href="stylesheets/login.css">
<script src="javascript/login-script.js" defer></script>
</head>


<body>

<!--start of login page-->
<div class="login-page" id="login">
    <div class="error-message">
        <% if(error.length > 0 ) { %>
            <div class="error">
                <%= error %>
            </div>
        <% } %>
    </div>
    <!--    start of login form-->
    <div class="wrapper-login">
        <div class="title">
            LOGIN
        </div>
        <div class="login-form">
            <form action="/login" method="POST">
                <div class="input-field-login">
                    <label>Username</label>
                    <input type="text" id="username" name="username" class="input" pattern="[A-Za-z0-9]{4,30}"
                           title="Username must be at least 5 and 30 max characters long! Only letters and numbers allowed!"
                           required>
                </div>
                <div class="input-field-login">
                    <label>Password</label>
                    <input type="password" id="password" name="password" class="input" pattern="{6,50}"
                           title="Password must be at least 6 characters long!!" required>
                </div>
                <div class="reset-password">
                    <a href="/resetPassword" class="pass-reset">Forgot Password?</a>
                    <a href="/register" class="register-link">Create an account!</a>
                </div>

                <div class="button-div">
                    <input type="submit" id="login-button" value="Login" class="login-btn">
                </div>
            </form>
        </div>
    </div>

</div>
</body>
</html>
