<!DOCTYPE html>
<title>Login</title>
<link rel="stylesheet" href="stylesheets/login.css">

</head>
<%- include('common/header') %>

<body>

<!--start of login page-->
<div class="login-page" id="login">

    <!--    start of login form-->
    <div class="wrapper-login">
        <div class="title">
            LOGIN
        </div>
        <div class="login-form">

            <div class="input-field-login">
                <label>Username</label>
                <input type="text" id="username" name="username" class="input" required>
            </div>
            <div class="input-field-login">
                <label>Password</label>
                <input type="password" id="password" name="password" class="input" required>
            </div>


            <div class="input-field-login">
                <input type="submit" id="login-button" value="Login" class="login-btn">
            </div>
        </div>
    </div>

    <script>
        $("#login-button").click(function () {

            // Get the values
            var username = $('#username').val();
            var password = $('#password').val();


            if (username == '') {
                alert("too short");
            } else {

                // Send the data
                $.post("/login", {
                    username: username,
                    password: password
                })
                    .done(function (data) {

                        if (data.includes("manager")) {
                            window.location = "/#manager";
                        } else {
                            window.location = "/";
                            alert("bravo!");
                        }
                    });
            }

        });

    </script>

</div>

<%- include('common/footer') %>
