<!DOCTYPE html>
<title>Register</title>
<link rel="stylesheet" href="stylesheets/register.css">
<script src="javascripts/register-script.js" defer></script>
</head>

<%- include('common/header') %>

<body>
<!--start of register page-->
<div class="register-page" id="register">

    <!--    start of register form-->
    <div class="wrapper">
        <div class="title">
            Registration Form
        </div>
        <div class="form">
            <div class="input-field">
                <label>First Name</label>
                <input type="text" id="firstname" class="input" name="firstname" required>
            </div>
            <div class="input-field">
                <label>Last Name</label>
                <input type="text" id="lastname" class="input" name="lastname" required>
            </div>
            <div class="input-field">
                <label>Username</label>
                <input type="text" id="username" class="input" name="username" required>
            </div>
            <div class="input-field">
                <label>Password</label>
                <input type="password" id="password" class="input" name="password" required>
            </div>
            <!--            <div class="input-field">-->
            <!--                <label>Confirm Password</label>-->
            <!--                <input type="password" class="input">-->
            <!--            </div>-->

            <div class="input-field">
                <label>Email Address</label>
                <input type="email" id="email" class="input" name="email" required>
            </div>
            <div class="input-field">
                <label>Phone Number</label>
                <input type="text" id="phone" class="input" name="phone" required>
            </div>
            <div class="input-field">
                <label>Gender</label>
                <div class="custom_select">
                    <select id="gender" name="gender" required>
                        <option value="">Select</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="prefer-not-to-say">Prefer not to say</option>
                    </select>
                </div>
            </div>
            <div class="input-field">
                <label for="country">Country</label>
                <div class="custom_select">
                    <select id="country" name="country" class="form-countries" required>
                        <option value="">Select</option>
                    </select>
                </div>
            </div>
            <div class="input-field">
                <label>City</label>
                <input type="text" id="city" name="city" class="input">
            </div>

            <div class="input-field">
                <input type="submit" id="register-button" value="Register" class="register-button">
            </div>
        </div>
    </div>


    <!--    register script to send the info to database- will be changed later-->
    <script>

        $("#register-button").click(function () {

            // get the values
            var fname = $('#firstname').val();
            var lname = $('#lastname').val();
            var uname = $('#username').val();
            var pass = $('#password').val();
            var email = $('#email').val();
            var phone = $('#phone').val();
            var gender = $('#gender').val();
            var country = $('#country').val();
            var city = $('#city').val();

            // if (fname == '' && pass == '') {
            //     alert("too short");
            // } else {

            //send data
            $.post("/register", {
                firstname: fname,
                lastname: lname,
                username: uname,
                password: pass,
                email: email,
                phone: phone,
                gender: gender,
                country: country,
                city: city
            })
                .done(function (data) {

                    //window.location = "/";
                    alert(data);
                });
            // }

        });

    </script>

</div>

<%- include('common/footer') %>

