<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <link rel="stylesheet" href="../stylesheets/resetPassErrors.css">
</head>
<body>
<div class="error-message">
    <% if(error.length > 0 ) { %>
        <div class="error">
            <%= error %>
        </div>
    <% } %>
</div>

<% if(error === "Password recovery link expired , please get a new one using your email!") { %>
    <div class="redirect-link">
        <a href="/resetPassword" class="link">Click here to send a new link!</a>
    </div>
<% } else if (error === "Passwords do not match!") { %>
    <div class="redirect-link">
        <a href="/resetPassword/<%= token %>" class="link">Click here to try again!</a>
    </div>
<% } %>


</body>
</html>