<%- include('common/header') %>
<title><%= title %></title>
<link rel="stylesheet" href="stylesheets/register.css">
<script src="javascript/register-script.js" defer></script>
</head>

<body>
<div class="resetPassword-page" id="resetPassword">

    <!--    start of register form-->
    <div class="wrapper">
        <div class="title">
            Reset Password
        </div>
        <div class="form">
            <form action="/resetPassword" method="POST">
                <div class="input-field">

                    <label for="email">Email Address</label>
                    <input type="email" id="email" class="input" name="email" pattern="{10,60}"
                           title="Email must be at least 10 characters long!!" required>
                </div>
                <div class="button-div">
                    <input type="submit" id="register-button" value="Reset Password" class="register-button">
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>



