<%- include('common/header') %>

<title><%= title %></title>
<link rel="stylesheet" href="stylesheets/userInfo.css">
</head>

<body>
<h1>Your profile</h1>

<div class="register-page" id="userInfo">
</div>

<!--<%- include('common/footer') %>-->
