<%- include('common/header') %>

<title><%= title %></title>
<link rel="stylesheet" href="stylesheets/userInfo.css">
<!--<script src="javascript/register-script.js" defer></script>-->
</head>

<body>
<h1>Your profile</h1>

<div class="register-page" id="userInfo">
</div>

</body>

</html>
<!--<%- include('common/footer') %>-->
