@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .3s linear;
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background: #0a1640;
    padding: .3rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-family: 'Arvo', serif;
}

header .navbar a {
    color: #EDF2F4;
    text-transform: uppercase;
    font-size: 18px;
    border-radius: .3rem;
    padding: .5rem 1.2rem;
    text-decoration: none;
}

header .navbar .nav-item-info {
    margin-right: 20px;
}

header .navbar .nav-item:hover {
    border: 1px solid white;
    transition: all .3s linear;
    color: #EF233C;
}

header .navbar .nav-item-info:hover {
    border: 1px solid white;
    transition: all .3s linear;
    color: #00cc00;
}

.logout-button {
    background-color: #008CBA;
    font-size: 18px;
    text-transform: uppercase;
    padding: 6px 8px;
    border: 1px solid #008CBA;
    text-align: center;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
}

.logout-button:hover {
    color: red;
    border: 1px solid red;
}

header #menu-btn {
    display: none;
    color: #EF233C;
    cursor: pointer;
}

header #menu-btn:hover {
    color: #EDF2F4;
}

.footer {
    background-color: #26272b;
    color: #737373;
}

.container-footer {
    font-size: 16px;
    /*font-family: 'Trebuchet MS', sans-serif;*/
    padding-top: 20px;
    padding-bottom: 10px;
}

hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.footer-box1 {
    padding-left: 180px;
    padding-right: 180px;
}

.footer-box2 {
    text-align: center;
}

.footer-text1 {
    text-align: center;
}

.about-text {
    font-size: 30px;
    text-align: center;
}

@media (max-width: 1050px) {
    header #menu-btn {
        display: inline-block;
    }

    header #menu-btn.fa-times {
        transform: rotate(180deg);
    }

    .header .navbar {
        position: absolute;
        display: block;
        top: 99%;
        left: 0;
        right: 0;
        height: 100vh;
        background: #2f3640;
        border-top: 1px solid #8D99AE;
        padding: 2rem;
        clip-path: polygon(50% 0%, 50% 0, 50% 0, 50% 0, 50% 0);
    }

    .header .navbar.active {
        clip-path: polygon(100% 0, 52% 0, 0 0, 0 100%, 100% 100%);
    }

    .header .navbar a, .header .navbar form {
        display: block;
        margin: 20px;
        text-align: center;
    }
}

@media (max-width: 1220px) {
    .container-footer {
        font-size: 14px;
        /*font-family: 'Trebuchet MS', sans-serif;*/
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .footer-box1 {
        padding-left: 160px;
        padding-right: 160px;
    }

    .about-text {
        font-size: 30px;
        text-align: center;
    }
}

@media (max-width: 1100px) {
    .container-footer {
        font-size: 14px;
    }

    .footer-box1 {
        padding-left: 110px;
        padding-right: 110px;
    }

    .about-text {
        font-size: 25px;
        text-align: center;
    }
}

@media (max-width: 1000px) {

    .footer-box1 {
        padding-left: 90px;
        padding-right: 90px;
    }

    .about-text {
        font-size: 30px;
        text-align: center;
    }
}

@media (max-width: 600px) {
    .container-footer {
        font-size: 13px;
    }

    .footer-box1 {
        padding-left: 50px;
        padding-right: 50px;
    }

    .about-text {
        font-size: 20px;
        text-align: center;
    }
}

