* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;

}

body #login {
    background: lightblue;
}

.login-page {
    padding-top: 150px;
}

.wrapper-login {
    max-width: 800px;
    width: 100%;
    background: #fff;
    margin: 0px auto;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
    padding: 30px;
}

.wrapper-login .title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: dodgerblue;
    text-transform: uppercase;
    text-align: center;
}

.wrapper-login .login-form {
    width: 100%;
}

.wrapper-login .login-form .input-field-login {
    margin-bottom: 15px;
    align-items: center;
}

.wrapper-login .login-form .input-field-login label {
    width: 200px;
    color: #757575;
    margin-right: 10px;
    font-size: 16px;
}

.wrapper-login .login-form .input-field-login .input {
    width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.wrapper-login .login-form .input-field-login {
    width: 100%;
    resize: none;
}

.wrapper-login .login-form .input-field-login .input:focus {
    border: 1px solid #fec107;
}

.wrapper-login .login-form .input-field-login p {
    font-size: 14px;
    color: #757575;
}

.wrapper-login .login-form .input-field-login .login-btn {
    width: 100%;
    padding: 8px 10px;
    font-size: 15px;
    border: 0px;
    background: royalblue;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
}


.wrapper-login .login-form .input-field-login .login-btn:hover {
    background: #ffd658;
}

.wrapper-login .login-form .input-field-login:last-child {
    margin-bottom: 0;
}

@media (max-width: 500px) {
    .wrapper-login .login-form .input-field-login {
        flex-direction: column;
        align-items: flex-start;
    }

    .wrapper-login .login-form .input-field-login label {
        margin-bottom: 5px;
    }
}

