* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;

}

body #login {
    background: white;
}

.login-page {
    padding-top: 20px;
}

.wrapper-login {
    max-width: 800px;
    width: 100%;
    margin: 15px auto;
    box-shadow: 2px 1px 20px rgba(0, 0, 0, 0.125);
    padding: 20px;
}

.wrapper-login .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: cadetblue;
    text-transform: uppercase;
    text-align: center;
}

.wrapper-login .login-form {
    padding: 18px;
    border: 2px solid cadetblue;
    width: 100%;
}

.wrapper-login .login-form .input-field-login {
    margin-bottom: 15px;
    align-items: center;
    position: relative;
    width: 100%;
}

.wrapper-login .login-form .input-field-login label {
    width: 200px;
    color: #757575;
    font-size: 18px;
}

.wrapper-login .login-form .input-field-login .input {
    width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.wrapper-login .login-form .input-field-login {
    width: 100%;
    resize: none;
}

.wrapper-login .login-form .input-field-login .input:focus {
    border: 1px solid cadetblue;
}

.wrapper-login .login-form .input-field-login {
    font-size: 14px;
    color: #757575;
}

.wrapper-login .login-form .button-div {
    text-align: center;
    padding-top: 5px;
}

.wrapper-login .login-form .button-div .login-btn {
    padding: 6px 12px;
    font-size: 22px;
    border: 0px;
    background: cadetblue;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
}


.wrapper-login .login-form .button-div .login-btn:hover {
    background: #ffd658;
}

.wrapper-login .login-form .input-field-login:last-child {
    margin-bottom: 0;
}

.error-message {
    text-align: center;
    background-color: red;
}

.error {
    color: white;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media (max-width: 500px) {
    .wrapper-login .login-form .input-field-login {
        flex-direction: column;
        align-items: flex-start;
    }

    .wrapper-login .login-form .input-field-login label {
        margin-bottom: 5px;
    }
}

