body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: blue;
}

.euro{
  display: flex;
  justify-content: center;
}
svg {
  background-color: #AADAFF ;
}

h1 {
  color: rgb(115, 115, 115);
  font-size: 18px;
  font-family: sans-serif;
  font-weight: bold;
  margin: 0;
  padding-bottom: 10px;

}

path:hover {
  fill: rgba(255, 255, 255, 0.8);
  cursor:pointer;
}
