<link rel="stylesheet" type="text/css" href="stylesheets/common.css">

<footer class="footer">
    <div class="container-footer">
        <div class="footer-box1">
            <p class="footer-text1">Welcome to TripClick, A project made as part of 3rd year Major Group Project<br>
            By Graham, Eduard and Jim</p>
        </div>
        <hr>
        <div class="footer-box2">
            <p class="text-copyright">Copyright &copy 2022 All rights reserved by TripClick </p>
        </div>
    </div>
</footer>

</body>
</html>