<link rel="stylesheet" type="text/css" href="stylesheets/common.css">

<footer class="footer">
    <div class="container-footer">
        <div class="footer-box1">
            <p class="about-text">About</p>
            <p class="footer-text1">TripClick is an amazing web app. This allows our users to check real time
                information from all around the world. Want to compare stats or see the what the whether is like when
                you are in your holidays? TripClick is the app you are looking for!</p>
        </div>
        <hr>
        <div class="footer-box2">
            <p class="text-copyright">Copyright &copy 2022 All rights reserved by TripClick </p>
        </div>
    </div>
</footer>

</body>
</html>