<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/common.css">
    <script src="javascript/script-nav.js" defer></script>
    <script src="https://kit.fontawesome.com/39de285129.js" crossorigin="anonymous" defer></script>


<body>
<header class="header" id="header">
    <img src="images/TripClick.png" height="80px" width="170px" alt="logoImg"></a>
    <nav class="navbar">
        <li>
            <a href="/" class="nav-item">Home</a>
        </li>
        <li>
            <a href="/customs" class="nav-item">Custom Graphs</a>
        </li>
        <% if (!username) { %>
            <li>
                <a href="/login" class="nav-item">Login</a>
            </li>
            <li>
                <a href="/register" class="nav-item">Register</a>
            </li>
        <% } else if(username) { %>
            <li><a href="/userInfo?userId=<%= userId %>" class="nav-item-info"><%= firstname %></a></li>
            <li>
                <form method="post" action="/logout">
                    <button class="logout-button">Log out</button>
                </form>
            </li>
        <% } %>
    </nav>
    <div id="menu-btn" class="fa-solid fa-bars fa-2x">
    </div>
</header>

<!--<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous" defer></script>-->
