<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/common.css">
    <script src="javascripts/scriptfile.js" defer></script>

<body>
<header>
    <nav class="sticky">


        <ul>
            <li class="logoimg"><img src="../images/TripClick.png" height="80px" alt=""> </li>
            <li><a href="/">Home</a></li>
            <li><a href="/customs">Custom Graphs</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
        <label id="icon">
            <i class="fas fa-bars"></i>
        </label>

        <img src="./public/images/TripClick.png" alt="">
        <script>


        </script>
    </nav>
</header>