<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/common.css">
    <script src="javascript/script-nav.js" defer></script>

<body>
<header>
    <nav class="sticky">
        <img src="images/TripClick.png" height="90px" width="180px" alt="logoImg"></a>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/customs">Custom Graphs</a></li>
            <li class="login"><a href="/login">Login</a></li>
            <li class="register"><a href="/register">Register</a></li>
            <li class="user-logged"><a href="/userInfo" class="view-info">
                    <%= firstname %>
                </a></li>
            <li class="logout">
                <form method="post" action="/logout">
                    <button class="logout-button">Log out</button>
                </form>
            </li>
        </ul>
        <label id="icon">
            <i class="fas fa-bars"></i>
        </label>
    </nav>
</header>

<% if (!username) { %>
    <style>
        .login {
            display: inline-block;
        }

        .register {
            display: inline-block;
        }

        .user-logged {
            display: none;
        }

        .logout {
            display: none;
        }

        @media (max-width: 1200px) {
            .login {
                display: block;
            }

            .register {
                display: block;
            }
        }
    </style>
<% } else { %>

    <style>
        .login {
            display: none;
        }

        .register {
            display: none;
        }

        .user-logged {
            display: inline-block;
        }

        .logout {
            display: inline-block;
        }

        @media (max-width: 1200px) {
            .user-logged {
                display: block;
            }

            .logout {
                display: block;
            }
        }
    </style>
<% } %>